<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************************************************************

   Mistral - open source imaging engine
   Copyright (C) 2003-2012 by Tidalwave s.a.s.

  **********************************************************************************************************************

   Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with
   the License. You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
   an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the License for the
   specific language governing permissions and limitations under the License.

  **********************************************************************************************************************

   WWW: http://mistral.tidalwave.it
   SCM: https://bitbucket.org/tidalwave/mistral-src

*********************************************************************************************************************-->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>GetFaxServlet</servlet-name>
        <servlet-class>org.imajine.mistral.faxserver.GetFaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PutFaxServlet</servlet-name>
        <servlet-class>org.imajine.mistral.faxserver.PutFaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StampServlet</servlet-name>
        <servlet-class>org.imajine.mistral.faxserver.StampServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pack200Servlet</servlet-name>
        <servlet-class>org.imajine.mistral.faxserver.Pack200Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFaxServlet</servlet-name>
        <url-pattern>/GetFax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PutFaxServlet</servlet-name>
        <url-pattern>/PutFax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StampServlet</servlet-name>
        <url-pattern>/Stamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pack200Servlet</servlet-name>
        <url-pattern>/lib/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
